body {
    margin: 0;
}

#navbar {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0%;
    margin: 0;
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: right;
}

#navbar-brand {
    position: absolute;
    left: 2vw;
}

#main {
/*    background-image: linear-gradient(90deg, #5433ff, #20bdff, #a5fecb); */
    background-color: orangered;
    height: 100vh;
    margin: 0;
}

#heading {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items:end;
    color:seashell;
    font-size:xx-large;
}

#main-text {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    color:seashell;
    font-size:larger;
}

#projects {
    height: 90vh;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    padding-left: 5vw;
    padding-right: 5vw;
    text-decoration: solid;
}

a {
    color: white;
}

#contact {
    position: absolute;
    display: grid;
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    justify-items: center;
}

#made-with {
    justify-self: center;
}

.project {
    padding-left: 5vw;
    padding-right: 5vw;
}